.container {
    margin-top: 50px;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.inputForNewUser {
    margin-bottom: 10px;
}

.buttonAddUser {
    margin: 10px;
}

#sendToAllButton {
    font-size: 24px;
}